<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html }}" />
{% else %}
  <meta name="description" content="Building a tech industry that's better for its workers and customers through co-operation, democracy and worker ownership." />
{% endif %}
  <meta charset="UTF-8">
  <title>{{ page.title }} &laquo; Cooperative Technologists</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
{% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
  <meta property="og:description" content="Building a tech industry that's better for its workers and customers through co-operation, democracy and worker ownership." />
{% endif %}
  <meta property="og:site_name" content="Cooperative Technologists" />
  <meta property="og:image" content="/app/themes/coop-tech-oowp-theme/public/img/Cotech_512x512.png" />
  <meta property="og:locale" content="en_GB" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@CotechUK" />
  <meta name="twitter:image" content="/app/themes/coop-tech-oowp-theme/public/img/Cotech_512x512.png" />
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel='stylesheet' id='app-css' href='/app/themes/coop-tech-oowp-theme/public/css/app.css?ver=4.8' type='text/css' media='all' />
  <script type='text/javascript' src='/app/themes/coop-tech-oowp-theme/public/js/vendor.js?ver=4.8'></script>
  <link rel="icon" href="/app/uploads/2017/02/cropped-cotech_512x512-32x32.png" sizes="32x32" />
  <link rel="icon" href="/app/uploads/2017/02/cropped-cotech_512x512-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/app/uploads/2017/02/cropped-cotech_512x512-180x180.png" />
  <meta name="msapplication-TileImage" content="/app/uploads/2017/02/cropped-cotech_512x512-270x270.png" />
  <style type="text/css" id="wp-custom-css">
    section#contact div.row div p a:active,
    section#contact div.row div p a:focus,
    section#contact div.row div p a:hover {
      text-decoration: underline;
      color: white;
    }
  </style>
  <link rel="stylesheet" href="/app/themes/coop-tech-oowp-theme/public/foundation-icons/foundation-icons.css">
  <link rel="icon" type="image/x-icon" href="/app/themes/coop-tech-oowp-theme/public/img/CoTech-logo.png">
  <script type="text/javascript">
    window.mapboxAccessToken = '{{ site.mapbox_access_token }}';
  </script>
</head>
