<header>
  <div data-sticky-container style="height: 82.7812px;">
    <div class="top-bar sticky iss-stuck is-at-top" data-sticky data-margin-top=0>
      <div class="top-bar-title">
        <strong>
          <a id="logo" href="/">
            <img src="/app/themes/coop-tech-oowp-theme/public/img/CoTech-logo.png">CoTech
          </a>
        </strong>
        <a class="back" href="/">&#8592; Go Back</a>
      </div>
    </div>
  </div>
</header>
