<!doctype html>
<html lang="en-US">

{% include head.html %}

<body>

  {% include header.html %}

  <div>

    <div id="page-banner">
      <div class="row">
        <div class="small-centered small-12 medium-10 large-8 columns">
          <h1>{{ page.heading }}</h1>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="small-centered small-12 medium-10 large-8 columns">
          {{ content }}
        </div>
      </div>

      {% if page.append_email_form %}
        <section id="join-form">
          <div class="row">
            <div class="small-12 medium-6 small-centered columns">
              <p>Contact us <a href="{{ site.forum }}">using our forum</a>.</p>
            </div>
          </div>
        </section>
      {% endif %}
    </div>

  </div>


  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>
