<!doctype html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">

{% include head.html %}

<body>

  <header>

    <div data-sticky-container style="height: 82.7812px;">
      <div class="top-bar sticky iss-stuck is-at-top" data-sticky data-margin-top=0>
        <div class="top-bar-title">
          <strong>
            <a id="logo" href="/">
              <img src="/app/themes/coop-tech-oowp-theme/public/img/CoTech-logo.png">CoTech
            </a>
          </strong>
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
          </span>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="dropdown menu vertical medium-horizontal" data-magellan>
              <li><a href="#members">Members</a></li>
              <li><a href="#clients">Clients</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#technologies">Technologies</a></li>
              <li><a href="#contact" class="button">Get In Touch</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="home">

    <div id="banner">
      <div class="row">
        <div class="small-12 columns">
          <h1 class="is-hidden">Cooperative Technologists</h1>
          <p class="homepage-message">Creative technology companies, fully owned and controlled by the people who do the work.<br />
            Cooperative ownership means tech that’s better for its workers and customers.</p>
          <span>
            <a id="video" data-open="video-modal"><i class="fi-play"></i>Watch video</a>
            <a id="our-manifesto" href="manifesto">Our manifesto</a>
          </span>
          <div class="reveal large" id="video-modal" data-reveal>
            <div class="flex-video widescreen">
              <iframe width="420" height="315" src="https://player.vimeo.com/video/196080655" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

  </div>


  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>
